<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Escolha o Tipo</h1>
        <div class="botao-container">
            <button onclick="window.location.href='{{url_for('empresa_index') }}'" class="botao">Empresa</button>
            <button onclick="window.location.href='{{url_for('pessoa_index') }}'" class="botao">Pessoa</button>
        </div>
    </div>
</body>
</html>

